/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 147%;
    font-style: normal;
    font-weight: lighter;
  }
  
  h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #18a380;
    padding: 2rem 0;
}

a {
	color:#18a380;
    text-decoration: #18a380;
    text-decoration-style: underline;
    font-weight: bold;
    border-bottom: 3px solid;
    font-family: 'Nunito', sans-serif;
}

a:hover{color: #18a380;
    text-decoration: none;
}
  
  /* ---- layout - common styles of layout, no specificity ---- */
  
.page-header{
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.page-header ul li a {
  color: #ccc;
  text-decoration: none;
  border: none;
}

.page-header ul li a:hover {
  color: #111;
  border-bottom: solid 4px #18a380;
  /* transition: all 1s linear; */
  
}
.main-navigation{
  width: 100%;
}
.main-navigation-header {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 10px;
  padding-left: 0;
  margin-right: 17.5px;
}

.main-navigation-header li {
  padding: 10px;
}

.project-list {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  flex-direction: row;
}

#photography {
  /* background-color:  #282e2c; */
  background-color: #191d1b;
  padding: 40px;
}


/* .photography-list {display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-flow: wrap;

} */

.photography-list {
  display: grid;
}

img:hover{
    filter: blur(4px);
    filter: brightness(110%);
    -moz-box-shadow:    0px 4px 0px 0px #18a380;
    -webkit-box-shadow: 0px 4px 0px 0px #18a380;
    box-shadow:         0px 4px 0px 0px #18a380;
}

.copyright {
  background-color: #eee;
  color: #111;
  padding: 60px 0;
  text-align: center;
}
  
#contact{
  padding: 100px;
  text-align: center;
  line-height: 42px;
}

#contact h2{
  font-size: 42px;
  line-height: 62px;
}

#contact p{
  font-size: 32px;
  line-height: 52px;
}

.main-footer {
  background-color: #f9f9f9;
}

.social-media {
  font-size: 35px;
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.social-media a{
  text-decoration: none;
  color: rgb(182, 182, 182);
}

.social-media-items {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: space-between;
}

  /* ---- components ---- */

  .highlight {
    color: #18a380; 
    font-weight: 700;
  }
  .read-more {
    color: #ccc;
    font-size: 16px;
    font-weight: 100;
  }

  #main-title {
    padding: 20px;
    display: flex;
    align-self: flex-start;
  }
  
  #main-paragraph {
    font-size: 42px;
    background-color: #fafafa;
    line-height: 62px;
    padding: 140px 100px 100px 100px;
  }
  
  #main-paragraph p, .main-contact {
    font-weight: 700;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  
  .photography-paragraph {
    display: flex;
    justify-content: center;
  }

  .photography-paragraph p{
    color: rgb(107, 107, 107);
    padding: 50px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin-left: 100px;
    margin-right: 100px;
  }

  
  /* pinterest */
  
  .pinterest{
    columns: 300px 3;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 40px;
}

.pinterest .box{
    break-inside: avoid-column;
    margin-bottom: 10px;
}

img{
    max-width: 100%;

}

  /* pinterest */




  
  
  /* ---- section ---- */

  .container {
    margin: 40px 40px;
    max-width: 1024px;
  }

  .container-flex{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  section {
    padding: 2rem 2rem;
  }
  
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      .container {margin: 0 auto;}
  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
  }
